[submodule "leetcode"]
	path = leetcode
	url = git@gitee.com:r31oad3d/leetcode.git
[submodule "algorithms"]
	path = algorithms
	url = git@gitee.com:r31oad3d/algorithms.git
[submodule "design_pattern"]
	path = design_pattern
	url = git@gitee.com:r31oad3d/design_pattern.git
[submodule "data_structure"]
	path = data_structure
	url = git@gitee.com:r31oad3d/data_structure.git
[submodule "utils_rust"]
	path = utils_rust
	url = git@gitee.com:r31oad3d/utils_rust.git
